{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 11"]
      }
    }],
    "react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd-mobile", "style": "css" }],
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}