/*-- created by ling on 2017-12-25 10:10. --*/

.overview-panel{
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  align-items: center;
  height: 3.5rem;
  .month-box{
    width: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .money-box{
    font-size: 1.5em;
    font-weight: 600;
    color: #ff5400;
  }
}